body
{
    font-family: calibri, sans-serif;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-height: 100vh;
    margin: 0;
    padding: 0;

    background-image: url(images/bg.png);

    flex-flow: column;
    align-items: center;
}

.tree
{
    float: right;

    margin-top: 2vh;
    margin-right: 5vw;
}

.track
{
    position: absolute;

    display: table;

    width: 80vw;
    height: 80vh;
    margin-top: 3em;
    margin-right: 10vw;
    margin-left: 10vw;

    border-collapse: separate;

    border-width: 16px;
    border-style: solid;
    -o-border-image: url(outer.png) 14 15 14 16 repeat;
       border-image: url(images/outer.png) 14 15 14 16 repeat; background-image: url(images/mud.png);
}

.inner
{
    display: table;

    width: 60vw;
    height: 50vh;
    margin-top: 15vh;
    margin-left: 10vw;

    border-collapse: separate;

    -o-border-image: url(images/inner.png);
       border-image: url(images/inner.png);
    border-image-slice: 16 16 16 16 fill;
    border-image-width: 16px 16px 16px 16px; border-image-outset: 0 0 0 0;
    border-image-repeat: round round;
    background-color: green;
    background-image: url(images/bg.png);
}

.horse
{
    background-image: url(images/horse2.png);
}
.horse.runLeft
{
    display: block;

    width: 96px;
    height: 60px;

    -webkit-animation: horseLeft steps(1) .5s  infinite;
            animation: horseLeft steps(1) .5s  infinite;

    background-position: 0 -256px;
}

@-webkit-keyframes horseLeft
{
    0%,
    100%
    {
        background-position: 0 -256px;
    }
    50%
    {
        background-position: 0 -450px;
    }
}

@keyframes horseLeft
{
    0%,
    100%
    {
        background-position: 0 -256px;
    }
    50%
    {
        background-position: 0 -450px;
    }
}


.horse.runRight
{
    display: block;

    width: 96px;
    height: 60px;

    -webkit-animation: horseRight steps(1) .5s  infinite;
            animation: horseRight steps(1) .5s  infinite;

    background-position: 0 -320px;
}

@-webkit-keyframes horseRight
{
    0%,
    100%
    {
        background-position: 0 -320px;
    }
    50%
    {
        background-position: 0 -512px;
    }
}

@keyframes horseRight
{
    0%,
    100%
    {
        background-position: 0 -320px;
    }
    50%
    {
        background-position: 0 -512px;
    }
}

.horse.runDown
{
    width: 48px;
    height: 64px;

    -webkit-animation: horseDown steps(1) .75s  infinite;
            animation: horseDown steps(1) .75s  infinite;

    background-position: 48px 192px;
}


@-webkit-keyframes horseDown
{
    0%,
    100%
    {
        background-position: 48px -192px;
    }
    33%
    {
        background-position: 48px -380px;
    }
    66%
    {
        background-position: 48px 0;
    }
}


@keyframes horseDown
{
    0%,
    100%
    {
        background-position: 48px -192px;
    }
    33%
    {
        background-position: 48px -380px;
    }
    66%
    {
        background-position: 48px 0;
    }
}


.horse.runUp
{
    width: 48px;
    height: 64px;

    -webkit-animation: horseUp steps(1) .75s  infinite;
            animation: horseUp steps(1) .75s  infinite;

    background-position: 0 192px;
}


@-webkit-keyframes horseUp
{
    0%,
    100%
    {
        background-position: 0 -192px;
    }
    33%
    {
        background-position: 0 -380px;
    }
    66%
    {
        background-position: 0 0;
    }
}


@keyframes horseUp
{
    0%,
    100%
    {
        background-position: 0 -192px;
    }
    33%
    {
        background-position: 0 -380px;
    }
    66%
    {
        background-position: 0 0;
    }
}


#startline
{
    position: absolute;
    left: 19vw;

    width: 2vw;
    height: 15vh;

    opacity: .7;
    background-color: #eee;
    background-image: -webkit-linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
    -webkit-linear-gradient(135deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
    background-image:         linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
    linear-gradient(-45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
    background-size: 1vw 1vw;
}

#horse4 .rider .head
{
    background-image: url(images/head2.png);
}
#horse4 .rider .body
{
    background-image: url(images/body3.png);
}


#horse3 .rider .head
{
    background-image: url(images/head1.png);
}
#horse3 .rider .body
{
    background-image: url(images/body1.png);
}

#horse2 .rider .head
{
    background-image: url(images/head4.png);
}
#horse2 .rider .body
{
    background-image: url(images/body4.png);
}

#horse1
{
    position: absolute; z-index: 999;
    top: -3vh;
}

#horse2
{
    position: absolute; z-index: 999;
    top: 1vh;

    background-image: url(images/horse3.png);
}

#horse3
{
    position: absolute; z-index: 999;
    top: 5vh;

    background-image: url(images/horse1.png);
}

#horse4
{
    position: absolute; z-index: 999;
    top: 9vh;

    background-image: url(images/horse4.png);
}

.horse
{
    left: 14vw;
}

.horse.standLeft
{
    width: 96px; height: 60px;

    background-position: 0 -64px;
}
.horse.standLeft .rider .body
{
    background-position: -32px -320px;
}
.horse.standLeft .rider .head
{
    background-position: 0 -32px;
}

.horse.standRight
{
    width: 96px; height: 60px;

    background-position: 0 -128px;
}
.horse.standRight .rider
{
    margin-left: -15px;
}
.horse.standRight .rider .body
{
    background-position: -96px -320px;
}
.horse.standRight .rider .head
{
    background-position: 0 -96px;
}

.horse .rider .head
{
    position: absolute;

    width: 32px;
    height: 32px;
    margin-top: -16px;
    margin-left: 40px;

    background-image: url(images/head0.png);
}

.horse .rider .body
{
    width: 32px;
    height: 32px;
    margin-top: 8px;
    margin-left: 40px;

    background-image: url(images/body0.png);
}

.horse.runDown .rider,
.horse.runRight .rider,
.horse.runLeft .rider
{
    -webkit-animation: riderBob1 .75s infinite;
            animation: riderBob1 .75s infinite;
}

.horse.runLeft .rider .body
{
    background-position: -32px -320px;
}

.horse.runRight .rider
{
    margin-left: -15px;
}

.horse.runRight .rider .head
{
    -webkit-animation: headbob4 .5s infinite;
            animation: headbob4 .5s infinite;

    background-position: 0 -96px;
}

.horse.runRight .rider .body
{
    background-position: -96px -320px;
}


.horse.runDown,
.horse.runUp
{
    margin-left: 32px;
}

.horse.runDown .rider
{
    margin-left: -32px;
}

.horse.runDown .rider .head
{
    -webkit-animation: headbob5 .5s infinite;
            animation: headbob5 .5s infinite;

    background-position: 0 -64px;
}

.horse.runDown .rider .body
{
    margin-top: -16px;

    background-position: -64px -320px;
}

.horse.runUp .rider
{
    margin-left: -32px;

    -webkit-animation: riderBob2 .75s infinite;
            animation: riderBob2 .75s infinite;
}

.horse.runUp .rider .head
{
    -webkit-animation: headbob5 .5s infinite;
            animation: headbob5 .5s infinite;

    background-position: 0 0;
}

.horse.runUp .rider .body
{
    margin-top: -16px;

    background-position: 0 -320px;
}

.horse.runLeft .rider .head
{
    -webkit-animation: headbob4 .5s infinite;
            animation: headbob4 .5s infinite;

    background-position: 0 -32px;
}


@-webkit-keyframes headbob4
{
    0%,
    100%
    {
        margin-left: 40px;
    }
    50%
    {
        margin-left: 42px;
    }
}


@keyframes headbob4
{
    0%,
    100%
    {
        margin-left: 40px;
    }
    50%
    {
        margin-left: 42px;
    }
}

@-webkit-keyframes headbob5
{
    0%,
    100%
    {
        margin-top: -10px;
    }
    50%
    {
        margin-top: -8px;
    }
}

@keyframes headbob5
{
    0%,
    100%
    {
        margin-top: -10px;
    }
    50%
    {
        margin-top: -8px;
    }
}


@-webkit-keyframes riderBob1
{
    0%,
    100%
    {
        margin-top: 8px;
    }
    50%
    {
        margin-top: 10px;
    }
}


@keyframes riderBob1
{
    0%,
    100%
    {
        margin-top: 8px;
    }
    50%
    {
        margin-top: 10px;
    }
}

@-webkit-keyframes riderBob2
{
    0%,
    100%
    {
        margin-top: 18px;
    }
    50%
    {
        margin-top: 20px;
    }
}

@keyframes riderBob2
{
    0%,
    100%
    {
        margin-top: 18px;
    }
    50%
    {
        margin-top: 20px;
    }
}


#start
{
    font-family: Arial;
    font-size: 20px;

    float: right;

    margin: 1vw;
    padding: 1vw;
    padding: 10px 20px 10px 20px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-decoration: none;

    color: #fff;
    border-radius: 28px;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image:         linear-gradient(to bottom, #3498db, #2980b9);
    text-shadow: 2px 2px 2px #333;
}

#start:hover
{
    color: #000;
}

#start[disabled]
{
    cursor: default;

    background: rgb(126, 126, 126);
}

#start[disabled]:hover
{
    color: #fff;
}

#bet,
#results
{
    float: left;
    overflow: auto;

    width: 20vw;
    margin-top: 5vh;
    margin-left: 2vw;
    padding: 1vw;
}

#results
{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
}

aside
{
    position: fixed;
    z-index: 1000;
    left: 100%;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 200px;
    height: calc(100vh - 40px);
    padding: 20px;

    border-left: 5px solid #bbb;
    background-color: #ddd;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#closeside
{
    font-weight: bold;

    float: right;

    margin-top: 1em;
    margin-left: auto;

    cursor: pointer;
    text-align: right;
}

header
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100vw;

    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
}

#announcement
{
    font-size: 20px;

    width: 30vw;
    margin-top: 1.5vh;
    padding: 1vw;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    pointer-events: none;
}

#open
{
    font-family: Arial;
    font-size: 20px;

    width: 5vw;
    margin-top: 1.5vh;
    padding: 1vw;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;

    color: #fff;
    border-radius: 28px;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image:         linear-gradient(to bottom, #3498db, #2980b9);
    text-shadow: 2px 2px 2px #333;
}
#open:hover
{
    color: #000;
}

#open[disabled]
{
    cursor: default;

    background: rgb(126, 126, 126);
}

#open:hover[disabled]
{
    color: #fff;
}

#funds
{
    font-weight: bold;
}

#funds:before
{
    content: '£';
}


img
{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
}

label,
input,
select
{
    display: block;
    float: left; width: 8vw; margin-bottom: .5vh;
}

label
{
    clear: left;
}

#results
{
    position: absolute;

    width: 10vw; margin-top: 8vh; margin-left: 48vw;
}
#results td
{
    width: 30px;
    height: 30px; background-repeat: no-repeat; background-position: 0 -64px;
}
#results .horse1
{
    background-image: url(images/head0.png);
}
#results .horse2
{
    background-image: url(images/head4.png);
}
#results .horse3
{
    background-image: url(images/head1.png);
}
#results .horse4
{
    background-image: url(images/head2.png);
}

#odds
{
    position: absolute;

    width: 10vw;
    margin-top: 27vh;
    margin-left: 2vw;
    padding: 1vw;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
}

#odds ul
{
    margin-top: 0;
    padding: 0;

    list-style: none;
}

.timer
{
    font-size: 20px;

    margin-top: 1.5vh;
    padding: 1vw;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    pointer-events: none;
}

.credits
{
    width: 100%;
}

.info
{
    width: 100%;
}

.container
{
    display: flex;

    width: 100%;
}

.card
{
    border: 2px solid #555;
    border-radius: 20px;
    background-color: #ffefb4;
}

/*horses*/

/*animations*/
